<mat-card class="spots" *ngFor="let spot of spotshow">
  <mat-grid-list cols="5" rols="4" rowHeight="49.5px">
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <img class="spot-img" src={{spot.Picture1}} alt="Photo of a Shiba Inu">
    </mat-grid-tile>
    <mat-grid-tile class="spot-title" [colspan]="3" [rowspan]="1">
      {{ spot.Name }}
    </mat-grid-tile>
    <mat-grid-tile class="spot-descript" [colspan]="3" [rowspan]="1">
      {{ spot.Description.substring(0, 50) }}
    </mat-grid-tile>
    <mat-grid-tile class="spot-org" [colspan]="3" [rowspan]="1">
      <mat-chip-list class="spot-class">
        {{ spot.Org }} &nbsp;
        <mat-chip *ngIf="spot.Class1">{{ spotclass.get(spot.Class1) }}</mat-chip>
        <mat-chip *ngIf="spot.Class2">{{ spotclass.get(spot.Class2) }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile class="spot-info" [colspan]="3" [rowspan]="1">
      <mat-icon>location_city</mat-icon>
      <div style="padding-top: 2px;"> {{ spot.Location }} &nbsp; </div>
      <mat-icon>date_range</mat-icon>
      <div class="spot-icon-text"> {{ spot.Start | date :'yyyy-MM-dd'}} ~ {{ spot.Start | date :'yyyy-MM-dd'}} </div>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
<mat-paginator [length]="spotcount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onSwitch($event)" #paginator>
</mat-paginator>